<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post </title>

    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- owl carousel css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="http://localhost:5000/css/new-post.css" />

    <!-- add image icon -->
    <link rel="icon" type="image/ico" href="http://localhost:5000/img/title-icon/instagram-icon.jpg" />

    <style>
        form {
            clear: both;
        }
    </style>
</head>

<body>

    <div class="continer">
        <form action="/user/<%=result.username%>/new-post?_method=PUT" method="POST" class="container mt-4"
            enctype="multipart/form-data">
            <div class="form-group mb-4">
                <label for="title" class="mb-3">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Please Enter Post Title" />
            </div>
            <div class="form-group mb-4">
                <label for="caption" class="mb-3">Caption</label>
                <textarea name="caption" id="caption" class="form-control"></textarea>
            </div>

            <div class="form-group mb-4">
                <label for="tags" class="mb-3">Tags</label>
                <input type="text" class="form-control" name="tags" id="tags" placeholder="Seprate With cama" />
            </div>

            <div class="form-group mb-4">
                <label for="saturate">Saturate</label>
                <select name="select" id="saturate" class="custom-select mb-3">
                    <option value="show">Show</option>
                    <option value="hide">Hide</option>
                </select>
            </div>

            <div class="custom-file mb-4">
                <label class="custom-file-label " for="customFile">Pictures</label>
                <input type="file" name="pictures" class="custom-file-input" multiple="true" id="pictures">
            </div>

            <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Send</button>
        </form>

        <!-- footer-navbar -->
        <div class="footer-navbar d-flex justify-content-around">
            <a href="/user/<%=username%>/home" class="home"><img src="http://localhost:5000//img/font-awesome/home.png"
                    alt=""></a>
            <a href="/search" class="search"><img src="http://localhost:5000/img/font-awesome/search-sefid.png"
                    alt=""></a>
            <a href="/user/<%=username%>/new-post" class="photo"><img
                    src="http://localhost:5000/img/font-awesome/plus-square.svg" alt=""></a>
            <a href="/activity/<%=username%>" class="photo"><img
                    src="http://localhost:5000/img/font-awesome/heart-sefid.png" alt=""></a>
            <a href="/user/<%=username%>" class="personal"><img
                    src="http://localhost:5000/img/font-awesome/user-sefid.png" alt=""></a>
        </div>
        <!-- end of footer-navbar -->

    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="//cdn.ckeditor.com/4.13.1/basic/ckeditor.js"></script>
    <script src="http://localhost:5000/js/new-post.js" type="text/javascript"></script>
</body>

</html>